<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="2028396614046620"/>
  <add key="FacebookAppSecret" value="166787717de491a6cff637b542af950a"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>